* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.sidebar {
  width: 270px;
  padding: 20px;
  background-color: #0d1317;
  height: 100vh;
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu a:hover svg path,
.menu .btn:hover svg path,
.menu a.active svg path,
.menu .btn.active svg path {
  fill: #ab8650 !important;
}

.menu a,
.menu .btn {
  padding: 12px 14px !important;
  border-radius: 4px !important;
  width: 100%;
  font-size: 15px;
}

.menu a:hover,
.menu .btn:hover,
.menu a.active,
.menu .btn.active {
  background-color: #1d1e1d !important;
  border: unset !important;
  outline: unset !important;
}

svg {
  transition: 0.2s;
}

svg.rotate {
  transform: rotate(180deg);
}

.child-menu a {
  padding-left: 55px !important;
  font-size: 13px;
  padding-right: 0 !important;
}

.child-menu {
  display: none;
}

.child-menu.active {
  display: block;
}

.badge {
  background-color: rgba(249, 250, 251, 0.1) !important;
  border-radius: 16px !important;
  font-weight: 600 !important;
}

.main-body {
  height: 100vh;
  overflow-y: scroll;
}

.topbar {
  padding: 20px 28px;
  border-bottom: 1px solid #e4e4e4;
  background: #fff;
}

.fs-24 {
  font-size: 24px !important;
}
.fs-16 {
  font-size: 16px !important;
}

.search-filter {
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 7px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.form-control {
  outline: unset !important;
  box-shadow: unset !important;
}

.gap-20 {
  gap: 20px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.text-golden {
  color: #ab8650;
}
